body {
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
	background-color: rgba(238, 238, 238, 0.9);
}

svg {
	background-color: rgba(38, 38, 38, 0.9);
	margin: 30px;
	padding: 10vw;
	display: table;
	border: 1px solid cyan;
}

.area {
	fill: steelblue;
	fill-opacity: 0.3;
	stroke: cyan;
	stroke-width: 2px;
}

.tick circle {
	fill: none;
	/* stroke: #888; */
	stroke: snow;
}

.tick line {
	stroke: white;
	/* stroke: snow; */
	stroke: #888;
}

.tick text {
	stroke: snow;
	font-size: 12px;
	text-anchor: middle;
}

.footer {
	position: fixed;
	margin: 0px 0px 2px 25px;
	padding: 1px 15px 1px 10px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-self: flex-end;
	font-family: Roboto;
	font-weight: 300;
	opacity: 0.99;
	bottom: 0;
	width: 95vw;
	background-color: rgba(35, 1, 47, 0.73);
	color: rgba(224, 213, 251, 0.7);
	box-shadow: 4px 0px 8px 5px rgba(35, 250, 246, 0.261);
	border: 4px ridge rgba(126, 0, 126, 0.1);
	border-radius: 8px;
	font-weight: 700;
	font-size: 1.1em;
	/* align-content: stretch;/ */
	/* align-content: flex-end; */
	/* height: 8vmax; */
	/* height: auto; */
	/* background-color: rgba(1, 218, 214, 0.9); */
	/* text-align: center; */
	/* border: 12px ridge rgba(35, 250, 246, 0.261); */
}
.card-credits {
	display: flex;
	flex: 0 1 auto;
	font-size: 1.3em;
	font-weight: 700;
	color: rgba(1, 218, 214, 0.69);
	/* padding: 1px 15px 1px 10px; */
	/* align-content: flex-end; */
	/* align-items: flex-end; */
	/* align-self: flex-end; */
	/* display: flex; */
}
.credits {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	/* align-self: center; */
	/* align-items: flex-end; */
	/* margin: 10px 15px 10px 10px; */
	/* align-self: flex-end; */
}
.credits p {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	align-content: center;
	flex: 1 0 auto;
	background-color: rbga(1, 1, 1, 0.9);
	/* align-self: flex-end; */
}
.footer a {
	align-self: flex-end;
	padding: 0px 15px 0px 10px;
	display: flex;
	flex: 1 1 auto;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-flow: column nowrap;
	color: rgba(1, 218, 214, 0.6);
	font-size: 0.9em;
	font-weight: 100;
	/* margin: 1px 15px 1px 10px; */
}
