body {
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
	font-family: 'Bungee Hairline', cursive;
	/* background-color: rgba(238, 238, 238, 0.9); */
	/* background-color: rgba(8, 8, 8, 0.9); */
	background-color: black;
}

svg {
	border: 1px dashed cyan;
}

#radial-bars {
	/* margin: 30px; */
	/* display: table; */
	background-color: rgba(238, 238, 138, 0.1);
	background-color: rgba(238, 238, 238, 0.1);
	/* height: 30px; */
	/* padding: 1vw; */
	margin: 50px;
	/* margin-top: -800px; */
	/* margin-top: -400px; */
	/* border: 1px dashed blue; */
}

#radial-area {
	/* border: 1px dashed cyan; */
	margin: 50px;
	/* margin-top: -700px; */
	/* display: table; */
	/* background-color: rgba(238, 238, 238, 0.1); */
	background-color: rgba(238, 138, 238, 0.1);
	/* opacity: 0.3; */
	/* padding: 1vw; */
}

.area {
	fill: steelblue;
	fill-opacity: 0.3;
	stroke: cyan;
	stroke-width: 2px;
}

.area-tick circle {
	fill: none;
	/* stroke: #888; */
	/* stroke: snow; */
	stroke: cyan;
}

.area-tick line {
	stroke: white;
	/* stroke: snow; */
	/* stroke: #888; */
}

.area-tick text {
	stroke: snow;
	font-size: 12px;
	text-anchor: middle;
	stroke: cyan;
}

.footer {
	position: fixed;
	margin: 0px 0px 2px 25px;
	padding: 1px 15px 1px 10px;
	display: flex;
	flex: 1 1 auto;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-self: flex-end;
	font-family: Roboto;
	font-weight: 300;
	opacity: 0.99;
	bottom: 0;
	width: 95vw;
	background-color: rgba(35, 1, 47, 0.73);
	color: rgba(224, 213, 251, 0.7);
	box-shadow: 4px 0px 8px 5px rgba(35, 250, 246, 0.261);
	border: 4px ridge rgba(126, 0, 126, 0.1);
	border-radius: 8px;
	font-weight: 700;
	font-size: 1.1em;
}
.card-credits {
	display: flex;
	flex: 0 1 auto;
	font-size: 1.3em;
	font-weight: 700;
	color: rgba(1, 218, 214, 0.69);
}
.credits {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
.credits p {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	align-content: center;
	flex: 1 0 auto;
	background-color: rbga(1, 1, 1, 0.9);
}
.footer a {
	align-self: flex-end;
	padding: 0px 15px 0px 10px;
	display: flex;
	flex: 1 1 auto;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	flex-flow: column nowrap;
	color: rgba(1, 218, 214, 0.6);
	font-size: 0.9em;
	font-weight: 100;
}

.axis path,
.axis tick,
.axis line {
	fill: none;
	stroke: none;
}

.axis text {
	font-size: 12px;
	fill: #aaaaaa;
	font-weight: 400;
}

.legendTitle {
	font-size: 14px;
	/* fill: #4f4f4f; */
	fill: snow;
	font-weight: 300;
}

.january {
	font-size: 14px;
	text-anchor: start;
	font-weight: 500;
	/* fill: #aaaaaa; */
	fill: cyan;
}

.february {
	font-size: 14px;
	text-anchor: middle;
	font-weight: 500;
	/* fill: #aaaaaa; */
	fill: rgb(0, 255, 153);
}

.december {
	font-size: 14px;
	text-anchor: start;
	font-weight: 300;
	fill: pink;
}

.yearLine {
	stroke: #aaaaaa;
	opacity: 0.9;
}

.seasonLine {
	/* stroke: violet; */
	stroke: purple;
}

.presentLine {
	fill: violet;
	fill: magenta;
	stroke: white;
	stroke-width: 5px;
}

.axisText {
	fill: #c4c4c4;
	fill: hsla(259, 58%, 27%, 0.487);
	font-size: 11px;
	font-weight: 300;
	text-anchor: middle;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.axisCircles {
	fill: none;
	stroke: #e8e8e8;
	stroke-width: 1px;
}

.subtitle {
	font-size: 14px;
	fill: #aaaaaa;
	font-weight: 300;
	text-anchor: start;
}
